
/* not loading on live page for some reason */
:root {
    background-color: red;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-red {
    background-color: red;
}